/* font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif; */

.searchSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: rgb(51, 51, 189);
    font-family: 'Raleway', sans-serif; 
}
.search{
    font-size: 18px;
    padding: 0.3rem 1rem;
    outline: none;
    font-family: 'Raleway', sans-serif; 
    font-weight: 500;
}
.search:hover{
    outline: none;
}
.searchBtn{
    font-size: 18px;
    padding: 0.3rem 1rem;
    background-color: rgb(30, 95, 30);
    transition: 0.2s;
    color: #fff;
    border:none;
    font-family: 'Raleway', sans-serif; 
    
}
.searchBtn:hover{
    transform: scale(1.2);
    border: none;
}
.weatherPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.weatherBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 80%;
    height: auto;
    min-height: 66vh;
    height: 100%;
}
.extraDetail{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
  width: 100%;
  background-color: green;

}
.extraDetailBox{
    color: #fff;
}
.weatherIcon{
    width: 150px;
}
.weatherDetail{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
/* .currentTemp{
} */
.cityTemp{
    font-size: 65px;
}
.cityName{
    padding-bottom: 3rem;
    font-size: 20px;
    font-weight: bold;
    
}
.dateAndTime{
    font-size: 24px;
    font-family: 'Nunito', sans-serif;

}
.wi{
    font-size: 24px;
}
.da{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}
.foo{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: rgb(32, 30, 30);
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.foo div{
    padding: 0 2rem;
}

a{
    margin: 0 1rem;
    color: #fff;
    transition: 0.2s;
}
a:hover{
    color: green;
    transform: scale(1.2);
}